/* styles.css */

Button {
    -fx-font-size: 16px;
    -fx-background-color: #ff8e57;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-padding: 10;
}

Button:hover {
    -fx-background-color: #e07b49;
}

Button:pressed {
    -fx-background-color: #c8653e;
}

Label {
    -fx-font-size: 16px;
}

TextField {
    -fx-font-size: 16px;
    -fx-pref-width: 300px;
    -fx-pref-height: 40px;
}

PasswordField {
    -fx-font-size: 16px;
    -fx-pref-width: 300px;
    -fx-pref-height: 40px;
}

TextArea {
    -fx-font-size: 16px;
}

.list-view{
    -fx-font-size: 16px;
}

ComboBox {
    -fx-font-size: 16px;
}

